.vscode/**
.git/**
.gitignore
.gitattributes
**/*.vsix
**/node_modules/**
**/.DS_Store
**/.env
**/*.log
**/*.map
**/tsconfig.json
**/webpack.config.js
**/.eslintrc*
scripts/**
.markdownlint.json
.prettierignore
.prettierrc.json
**/.github/**
