.vscode/**
.git/**
.gitignore
.gitattributes
**/*.vsix
**/node_modules/**
**/.DS_Store
**/.env
**/*.log
**/*.map
**/tsconfig.json
**/webpack.config.js
**/.eslintrc*
**/.prettierrc*
scripts/**
RD/**
SETUP_GUIDE.md
CONTRIBUTING.md
.markdownlint.json
.prettierignore
.prettierrc.json
MIGRATION_V2.md
